.container {
  padding: 0 2rem;
  background: url('../assets/red-2892235.png') no-repeat center;
  background-size: cover;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'Mountains of Christmas', cursive;
  margin: 0;
  line-height: 1.15;
  font-size: calc(2rem + 5vw);
  -webkit-text-stroke: 2px green;
  -webkit-text-fill-color: white;
}

.title,
.description {
  color: white;
  text-shadow: 2px 4px 8px black;
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-family: 'Fontdiner Swanky', cursive;
  font-size: calc(0.5rem + 2vw);
  -webkit-text-stroke: 1px green;
  -webkit-text-fill-color: white;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.row {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.list {
  font-size: calc(0.5rem + 1vw);
  background-color: green;
  color: white;
  box-shadow: 0 0 5px white;
  border: none;
}

.button {
  font-size: calc(1rem + 2vw);
  font-family: 'Mountains of Christmas', cursive;
  background-color: green;
  -webkit-text-stroke: 1px gold;
  -webkit-text-fill-color: white;
  text-shadow: 2px 2px black;
  box-shadow: 0 0 5px white;
  border: none;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
